.App {
  text-align: center;
  font-family: Avenir; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 45px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App{
  padding-top : 20px; 
  display: inline-block; 
  text-align: left; 
  font-size: 20px; 
}

.Todo-App input {
  padding: 10px; 
  border: 2px solid #222;
  font-size: 20px; 
}

.Todo-App button {
  padding: 10px; 
  margin: 10px; 
  font-size: 20px; 
  -webkit-text-fill-color: white;
  background-color: #222;
  border: 2px solid #222;
}

.Todo-App button:hover{
  background-color: white;
  -webkit-text-fill-color: black;
}

.Todo-List ul li input{
  margin-right: 10px; 
  vertical-align: middle;
}

ul {
  padding: 0px; 
}

li {
  list-style-type: none; 
}